@import './flexbox.scss';
@import './mixins.scss';


.list-post{
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
        height: auto;
        min-height: 155px;
        margin-left: 0 !important;
        margin-bottom: 30px;
        &:nth-of-type(odd){
            @include for-size(tablet-portrait-up){
                margin-right: 50px;
            }
        }
        @include for-size(tablet-portrait-up){
            @include flex-direction(row);
            @include align-items(center);
            width: 530px;
            height: 145px;
        }
    }
    .wrap-image{
        width: 100%;
        @include for-size(tablet-portrait-up){
            width: 145px;
            margin-right: 25px;
        }
        img{
            width: 100%;
            overflow: hidden;
            @include for-size(tablet-portrait-up){
                width: 205px;
                margin-right: 25px;
            }
        }
    }
    .wrap-content{
        display: block;
        position: relative;
    }

    h2{
        @include text_general($-font_weight: normal, $-font-family: $lora, $-color: $dark_gray, $-text_transform: bold, $-font-size: 24px);
    }
    p{
        @include text_general($-font_weight: normal, $-color: $light_gray);
    }
    .date-post{
        font-family: $lora;
        font-weight: bold;
        color: $blue;
    }
}

.list-program{
    @include flexbox();
    @include flex-wrap(wrap);
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        width: 350px;
        height: 350px;
        overflow: hidden;
        margin: 10px 10px !important;
        position: relative;
    }
    figure{
        position: relative;
        transition: .3s all ease-in-out;
        background: #1395BA;
        &:hover{
            img{
                transition-delay: 0.10s;
                opacity: 0.7;
                transform: translate3d(0,0,0) scale(1.2);
            }
            figcaption{
                &::before{
                    opacity: 1;
                    transform: scale(1);
                }
                &::after{
                    opacity: 1;
                    transform: scale(1);
                    transition-delay: 0.15s;
                }
            }
            h2{
                transition-delay: 0.20s;
                opacity: 1;
                transform: translate3d(0,0,0);
                transition: opacity 0.35s, transform 0.35s;
            }
        }
        img{
            max-width: initial;
            width: 350px;
            height: 350px;
            object-fit: cover;
            transition: opacity 0.35s, transform 0.35s;
        }
        figcaption{
            padding: 3em 1.1em;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            &::before, &::after{
                content: '';
                position: absolute;
                opacity: 1;
                transform: scale(1);
                transition: opacity 0.35s, transform 0.35s;
            }
            &::before{
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                transform: scale(0,1);
                transform-origin: 0 0;
            }
            &::after{
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                transform: scale(1,0);
                transform-origin: 100% 0;
            }
        }
        h2{
            @include text_general($-color: #fff, $-font_size: 25px, $-font-family: $lora);
            letter-spacing: 3.5px;
            padding: 0.5em 2em;
            text-transform: none;
            opacity: 0;
            transform: translate3d(0,-10px,0);
            transition: opacity 0.35s, transform 0.35s;
        }
    }
}

.list-pegawai{
    @include flexbox();
    @include flex-wrap(wrap);
    margin: 0;
    list-style-type: none;
    > li{
        @include flexbox();
        width: 373px;
        text-align: center;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #E2E9ED;
        transition: 0.2s all;
        position: relative;
        z-index: 0;
        background: #FFF;
        &:hover{
            z-index: 1;
            box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }
    }

    figure.wrap-image{
        margin-right: 15px !important;
    }
    figcaption{
        padding-top: 5px;
    }

    .primary-text{
        h2{
            margin-bottom: 0;
        }
    }
    .secondary-text{
        @include flexbox();
        @include justify-content(space-between);
        ul{
            list-style-type: none;
            margin: 0;
            margin-right: 10px;
            &:last-of-type{
                margin-right: 0;
            }
            li{
                @include flexbox();
                @include align-items(flex-start);
                margin-bottom: 5px;
            }
        }

        i{
            margin-right: 7px;
        }
        p, span{
            margin: 0;
            text-align: left;
        }
    }

    .bubble{
        width: 120px;
        height: 120px;
        position: relative;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 5px;
    }
    img{
        width: 100%;
    }

    h2{
        @include text_general($-font-family: $lora, $-color: #000000, $-font-size: 24px, $-line_height: 26px, $-font_weight: bold);
        margin: 0;
    }
    p, span{
        @include text_general($-font-family: $merriweather, $-color: $light_gray, $-font-size: 12px, $-line_height: 19px, $-font_weight: bold);
    }
}

.wpcf7-form.init{
    input, textarea{
        @include text_general($-color: #758285, $-font-family: $merriweather, $-font-size: 14px);
        padding: 20px 15px;
        border-radius: 5px;
        box-shadow: none;
    }
    input[type=submit]{
        background: #1395BA !important;
        border-radius: 5px !important;
        font-size: 13px !important;
        padding: 5px 26px !important;
    }
}